
@{
    ViewBag.Title = "Index";
}

<h1 style="color:green"> PAGINA EXCLUSIVA PARA MEMBROS DO CLUBINHO </h1>
<h3> Se vc está a ler esta mensagem significa que o login foi realizado com sucesso </h3>

