




@{
    if (ViewBag.ESTADO == 1)
    {
        <h3 style="color:orangered">Não há nenhum utilizador logado no sistema</h3>
    }
    else
    {
        <h3 style="color:orangered">Logout efetuado com sucesso</h3>
    }

}





