
@{
    ViewBag.Title = "Index";
}

<html>

<head>

    <style>
        span {
            color: #ffffff;
            font-size: 200px;
            font-weight: bold;
            text-shadow: -1.5px -1.5px 0 #fb01fc, 1.5px 1.5px 0 #04fbf6;
        }

        #e {
            height: 195px;
            width: 1000px;
            background-color: #222222;
        }
    </style>

</head>
<body>
    <br />
    <br />
    <br />
    <br />

    <div id="e">
        <span>ERROR</span>
    </div>

    <br />
    <br />
    <br />
    <h4> AVISO - Você foi avisado de que está sendo avisado </h4>
</body>

</html>

@*<h1 style="color: red"> ERROR: </h1>*@
@*<br />
    <br />
    <br />
    <h4> Você foi avisado de que está sendo avisado </h4>*@
@*<h6 style="color: red"> Se você está a ler esta mensagem significa que... Deu ruim... \(-,-)/ </h6>*@

